@font-face {
  font-family: 'robotolight';
  src: url('fonts/roboto-light-webfont.woff2') format('woff2'), url('fonts/roboto-light-webfont.woff') format('woff'), url('fonts/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('fonts/roboto-medium-webfont.woff2') format('woff2'), url('fonts/roboto-medium-webfont.woff') format('woff'), url('fonts/roboto-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'), url('fonts/roboto-regular-webfont.woff') format('woff'), url('fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosisbold';
  src: url('fonts/dosis-bold-webfont.woff2') format('woff2'), url('fonts/dosis-bold-webfont.woff') format('woff'), url('fonts/dosis-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosissemibold';
  src: url('fonts/dosis-semibold-webfont.woff2') format('woff2'), url('fonts/dosis-semibold-webfont.woff') format('woff'), url('fonts/dosis-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosismedium';
  src: url('fonts/dosis-medium-webfont.woff2') format('woff2'), url('fonts/dosis-medium-webfont.woff') format('woff'), url('fonts/dosis-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosisregular';
  src: url('fonts/dosis-regular-webfont.woff2') format('woff2'), url('fonts/dosis-regular-webfont.woff') format('woff'), url('fonts/dosis-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  flex: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  transition: .5s ease-in-out;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  object-fit: cover;
  display: block;
}

.template {
  background: url(img/iPhones.png) no-repeat bottom right, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/iPhones.png) no-repeat bottom right, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/iPhones.png) no-repeat bottom right, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/iPhones.png) no-repeat bottom right, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/iPhones.png) no-repeat bottom right, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  background-size: 50%, 100%;
  padding: 30px 11.41% 219px 11.41%;
  font-family: 'robotolight';
  color: #ffffff;
  font-size: 0.88em;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
   width: 100%;
   box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-nav a:hover {
  color: blue;
}

a.header_logo:hover {
  transform: scale(1.15, 1.15);
  color: #ffffff;
}
a.header_logo:hover .header_logo svg{
  transform: scale(1.15, 1.15);
}

.header_logo {
  display: flex;
  align-self: center;
  align-items: flex-end;
  font-family: 'dosisbold', Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-size: 2.3em;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
 }
.header_logo svg{
  fill: #ffffff;
}
.header-list {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-top: -10px;
}

.header-list a {
  padding-right: 42px;
  font-family: 'robotoregular';
  color: #ffffff;
  font-size: 1em;
  line-height: 24px;
  text-align: right;
}

.header-list .header_button,
.start_button {
  color: #222222;
  background-color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 7px 20px;
  border-radius: 20px;
  font-weight: 500;
  line-height: 30px;
  border: 2px solid transparent;
}

.header-list .header_button:hover,
.start_button:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.header-list .header_button:active,
.start_button:active {
  border: 2px solid #445162;
}

.template h1 {
  font-family: 'dosisbold', Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-size: 3.6em;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

.header_text {
  margin-top: 13%;
}
.header_text ul {
  padding: 0 0 20px 0;
}
.header_text li {
  list-style: none;
  background: url(img/point.png) no-repeat 0 4px;
  padding-left: 24px;
}
.labmenu {
  position: relative;
  left: 40%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
}

.labmenu:after {
  content: 'Menu';
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  left: 2px;
  top: 35px;
}

.labmenu span,
.labmenu span:before,
.labmenu span:after {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 40px;
  height: 4px;
  background: #ffffff;
  border-radius: 0.2em;
}

.labmenu span:before,
.labmenu span:after {
  content: '';
  left: 0;
}

.labmenu span:before {
  top: -8px;
}

.labmenu span:after {
  top: 8px;
}
#menu {
  visibility: hidden;
}
input[type="checkbox"]:checked ~ .header-list {
  visibility: visible;
}

@media screen and (max-width: 800px) {
.header_text ul{
  display: none;
}
.header-nav {
  margin-right: 50%;
  width: 60px;
  height: 60px;
}
  .labmenu{
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .header-list {
    visibility: hidden;
    z-index: 100;
    margin-left: -130%;
    height: auto;
    width: 200px;
    align-items: center;
    flex-direction: column;
  }
  .header-list_item {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    padding: 40px;
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
  }
  .header-list_item:hover {
    background-color: rgba(255, 255, 255, .5);
  }
  .header-list_item:hover a{
    color: #222222;
    font-size: 1.2em;
  }
  .header-list_item a {
    width: 100%;
    z-index: 100;
  }
  .header-list .header_button{
  display: none;
}
}
@media screen and (max-width: 800px) {
  .header_text{
    display: none;
  }
  .header-list_item {
    height: 40px;
    width: 100%;
    border: 1px solid white;
    text-align: center;
    background-color: rgb(215, 4, 4,.5);
    padding-top: 20px;
    z-index: 100;
  }
  .pluses{
    z-index: 0;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
hr {
  color: #ababab;
  width: 1200px;
}

.pluses {
  width: 100%;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding: 120px 0;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width:950px) {
  .pluses {
  padding: 30px 0;
}
details,
summary {
  display: block;
  width: 320px;
  cursor: pointer;
}
details {
  margin-right: 20px;
}
}

.summary_header {
  display: block;
  font-family: 'dosissemibold', Verdana, Geneva, sans-serif;
  color: #222222;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 38px;
}

.pluses img {
  padding: 0 26px 30px 0;
  float: left;
}

summary {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details {
  margin-right: 40px;
  margin-left: 40px;
  clear: both;
  box-sizing: border-box;
}

details p {
  margin-left: 100px;
}

details,
summary {
  display: block;
  width: 400px;
  cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------*/
.mobile {
  width: 100%;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding:  120px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.mobile img{
  transform: scale(1.3);
  margin: -100px 50px 0 0;
  padding: 0;
}
h3 {
  font-family: 'dosissemibold', Verdana, Geneva, sans-serif;
  color: #222222;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 30px;
}

.mobile-paragraph {
  padding-top: 65px;
}

.mobile ul {
  padding: 25px 0 20px 0;
}


@media (min-width:899px) and (max-width:1300px) {
  .mobile img{
  transform: scale(1.1);
}
}

@media screen and (min-width:600px) and (max-width:900px) {
 .mobile {
  padding:  60px 30px;
}
   .mobile img{
  transform: scale(.9);
}
}
@media  screen and (max-width: 599px) {
  .mobile img{
  display: none;
}
  .mobile {
  padding: 30px;
  text-align: center;
}
.mobile ul {
  margin-left: 60px;
  text-align: left;
}
}


/*==========================================================================================================*/
.screenshots {
    width: 100%;
  padding: 120px 0;
  background-color: #f7fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.screenshots h3 {
  margin-top: 0;
}

.screenshots p {
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-bottom: 70px;
}

.slides_screenshots {
  display: inline-block;
  padding-top: 50px;
  height: 450px;
  max-width: 95%;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
  position: relative;
}

.screenshots-list {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border: none;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.screenshots-list li {
  white-space: normal;
  display: inline-block;
  width: 262px;
  height: 440px;
  box-sizing: border-box;
  margin-right: -50px;
  margin-left: -50px;
  position: relative;
}

@media screen and (max-width:799px) {
  .screenshots {
  padding: 60px 0;
}
  .slides_screenshots{
    width: 30%;
    position: relative;
    padding-top: 0;
  }
  .screenshots-list li{
    position: absolute;
    margin-left: -50%;
  }
#screenshot1:checked~ul #pic1 {
  opacity: 1;
}
#screenshot1:checked~ul #pic2 {opacity: 0;}
#screenshot1:checked~ul #pic3 {opacity: 0;}
#screenshot1:checked~ul #pic4 {opacity: 0;}
#screenshot1:checked~ul #pic5 {opacity: 0;}
#screenshot1:checked~ul #pic6 {opacity: 0;}
#screenshot1:checked~ul #pic7 {opacity: 0;}

#screenshot2:checked~ul #pic2 {
  opacity: 1;
}
#screenshot2:checked~ul #pic1 {opacity: 0;}
#screenshot2:checked~ul #pic3 {opacity: 0;}
#screenshot2:checked~ul #pic4 {opacity: 0;}
#screenshot2:checked~ul #pic5 {opacity: 0;}
#screenshot2:checked~ul #pic6 {opacity: 0;}
#screenshot2:checked~ul #pic7 {opacity: 0;}

#screenshot3:checked~ul #pic3 {
  opacity: 1;
}
#screenshot3:checked~ul #pic1 {opacity: 0;}
#screenshot3:checked~ul #pic2 {opacity: 0;}
#screenshot3:checked~ul #pic4 {opacity: 0;}
#screenshot3:checked~ul #pic5 {opacity: 0;}
#screenshot3:checked~ul #pic6 {opacity: 0;}
#screenshot3:checked~ul #pic7 {opacity: 0;}

#screenshot4:checked~ul #pic4 {
  opacity: 1;
}
#screenshot4:checked~ul #pic1 {opacity: 0;}
#screenshot4:checked~ul #pic2 {opacity: 0;}
#screenshot4:checked~ul #pic3 {opacity: 0;}
#screenshot4:checked~ul #pic5 {opacity: 0;}
#screenshot4:checked~ul #pic6 {opacity: 0;}
#screenshot4:checked~ul #pic7 {opacity: 0;}

#screenshot4:checked~ul #pic5 {
  opacity: 1;
}
#screenshot5:checked~ul #pic1 {opacity: 0;}
#screenshot5:checked~ul #pic2 {opacity: 0;}
#screenshot5:checked~ul #pic3 {opacity: 0;}
#screenshot5:checked~ul #pic4 {opacity: 0;}
#screenshot5:checked~ul #pic6 {opacity: 0;}
#screenshot5:checked~ul #pic7 {opacity: 0;}
}
#screenshot4:checked~ul #pic6 {
  opacity: 1;
}
#screenshot6:checked~ul #pic1 {opacity: 0;}
#screenshot6:checked~ul #pic2 {opacity: 0;}
#screenshot6:checked~ul #pic3 {opacity: 0;}
#screenshot6:checked~ul #pic4 {opacity: 0;}
#screenshot6:checked~ul #pic5 {opacity: 0;}
#screenshot6:checked~ul #pic7 {opacity: 0;}
}

#screenshot4:checked~ul #pic7 {
  opacity: 1;
}
#screenshot7:checked~ul #pic1 {opacity: 0;}
#screenshot7:checked~ul #pic2 {opacity: 0;}
#screenshot7:checked~ul #pic3 {opacity: 0;}
#screenshot7:checked~ul #pic4 {opacity: 0;}
#screenshot7:checked~ul #pic5 {opacity: 0;}
#screenshot7:checked~ul #pic6 {opacity: 0;}
}

.screenshots-list img {
  width: 100%;
  vertical-align: bottom;
}

.slides_screenshots input {
  display: none;
}

#screenshot1:checked~ul {
  transform: translateX(0);
}
@media screen and (min-width:800px) {
#screenshot1:checked~ul #pic1 {
  transform: scale(.8, .8);
  z-index: -8;
  margin-right: -150px;
}

#screenshot1:checked~ul #pic2 {
  transform: scale(.9, .9);
  z-index: -2;
}

#screenshot1:checked~ul #pic3 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot1:checked~ul #pic4 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot1:checked~ul #pic5 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot1:checked~ul #pic6 {
  transform: scale(.9, .9);
  z-index: -2;
}

#screenshot1:checked~ul #pic7 {
  transform: scale(.8, .8);
  z-index: -8;
  margin-left: -150px;
}

#screenshot2:checked~ul {
  transform: translateX(-3%);
}

#screenshot2:checked~ul #pic1 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-right: -150px;
}

#screenshot2:checked~ul #pic2 {
  transform: scale(.8, .8);
  z-index: -2;
  margin-right: -150px;
}

#screenshot2:checked~ul #pic3 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-right: -100px;
}

#screenshot2:checked~ul #pic4 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot2:checked~ul #pic6 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot2:checked~ul #pic5 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot2:checked~ul #pic7 {
  transform: scale(.8, .8);
  z-index: -2;
}

#screenshot3:checked~ul {
  transform: translateX(-4%);
}

#screenshot3:checked~ul #pic1 {
  transform: scale(.8, .8);
  z-index: -4;
  margin-right: -150px;
}

#screenshot3:checked~ul #pic2 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-right: -150px;
}

#screenshot3:checked~ul #pic3 {
  transform: scale(.8, .8);
  z-index: -2;
  margin-right: -150px;
}

#screenshot3:checked~ul #pic4 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-right: -100px;
}

#screenshot3:checked~ul #pic5 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot3:checked~ul #pic6 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot3:checked~ul #pic7 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot4:checked~ul {
  transform: translateX(-5%);
}

#screenshot4:checked~ul #pic1 {
  transform: scale(.8, .8);
  z-index: -5;
  margin-right: -150px;
}

#screenshot4:checked~ul #pic2 {
  transform: scale(.8, .8);
  z-index: -4;
  margin-right: -150px;
}

#screenshot4:checked~ul #pic3 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-right: -150px;
}

#screenshot4:checked~ul #pic4 {
  transform: scale(.8, .8);
  z-index: -2;
  margin-right: -150px;
}

#screenshot4:checked~ul #pic5 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-right: -100px;
}

#screenshot4:checked~ul #pic6 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot4:checked~ul #pic7 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot5:checked~ul {
  transform: translateX(3%);
}

#screenshot5:checked~ul #pic1 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot5:checked~ul #pic2 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot5:checked~ul #pic3 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-left: -100px;
}

#screenshot5:checked~ul #pic4 {
  transform: scale(.8, .8);
  z-index: -2;
  margin-left: -150px;
}

#screenshot5:checked~ul #pic5 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-left: -150px;
}

#screenshot5:checked~ul #pic6 {
  transform: scale(.8, .8);
  z-index: -4;
  margin-left: -150px;
}

#screenshot5:checked~ul #pic7 {
  transform: scale(.8, .8);
  z-index: -5;
  margin-left: -150px;
}

#screenshot6:checked~ul {
  transform: translateX(4%);
}

#screenshot6:checked~ul #pic2 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot6:checked~ul #pic1 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot6:checked~ul #pic3 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot6:checked~ul #pic4 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-left: -100px;
}

#screenshot6:checked~ul #pic5 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-left: -150px;
}

#screenshot6:checked~ul #pic6 {
  transform: scale(.8, .8);
  z-index: -4;
  margin-left: -150px;
}

#screenshot6:checked~ul #pic7 {
  transform: scale(.8, .8);
  z-index: -5;
  margin-left: -150px;
}

#screenshot7:checked~ul {
  transform: translateX(5%);
}

#screenshot7:checked~ul #pic2 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot7:checked~ul #pic3 {
  transform: scale(1.15, 1.15);
  z-index: 1;
}

#screenshot7:checked~ul #pic4 {
  transform: scale(1, 1);
  z-index: 0;
}

#screenshot7:checked~ul #pic1 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-left: -100px;
}

#screenshot7:checked~ul #pic5 {
  transform: scale(.9, .9);
  z-index: -1;
  margin-left: -100px;
}

#screenshot7:checked~ul #pic6 {
  transform: scale(.8, .8);
  z-index: -2;
  margin-left: -150px;
}

#screenshot7:checked~ul #pic7 {
  transform: scale(.8, .8);
  z-index: -3;
  margin-left: -150px;
}
}

#control label {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  background: url(img/arrow.png) center no-repeat;
  background-size: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

#control label:hover {
  background: url(img/arrow2.png) center no-repeat, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  background-size: 15px, 40px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

#screenshot1:checked~#control label:nth-child(2),
#screenshot2:checked~#control label:nth-child(3),
#screenshot3:checked~#control label:nth-child(4),
#screenshot4:checked~#control label:nth-child(5),
#screenshot5:checked~#control label:nth-child(6),
#screenshot6:checked~#control label:nth-child(7),
#screenshot7:checked~#control label:nth-child(1) {
  right: 0;
  top: 50%;
  display: block;
}

#screenshot1:checked~#control label:nth-child(7),
#screenshot2:checked~#control label:nth-child(1),
#screenshot3:checked~#control label:nth-child(2),
#screenshot4:checked~#control label:nth-child(3),
#screenshot5:checked~#control label:nth-child(4),
#screenshot6:checked~#control label:nth-child(5),
#screenshot7:checked~#control label:nth-child(6) {
  left: 0;
  top: 50%;
  display: block;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(180deg);
}

/*==========================================================================================================*/
.package {
    width: 100%;
  padding: 120px 0;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.package h3,
.package_txt {
  line-height: 24px;
  margin-bottom: 23px;
  width: 100%;
  text-align: center;
}

.package_trial-txt {
  color: #aaaaaa;
}

.package_block h4 {
  font-family: 'dosismedium', Verdana, Geneva, sans-serif;
  color: #333333;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 24px;
}

.package_block {
  margin-top: 57px;
  margin-right: 30px;
  padding-bottom: 40px;
  background-color: #f7fafc;
  width: 263px;
}

.price {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
  font-family: 'dosismedium', Verdana, Geneva, sans-serif;
  color: #333333;
  font-size: 3.2em;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

sup,
sub {
  font-size: 0.4em;
}

.price:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 70%;
  border-left: 132px solid #f7fafc;
  border-right: 132px solid #f7fafc;
  border-top: 34px solid transparent;
  clear: both;
}

.package_block ul {
  margin: 40px 60px 50px 60px;
  padding-left: 0;
}

.package_block li {
  list-style: none;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.buy_button {
  font-family: 'robotomedium';
  color: #333333;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  padding: 8px 40px;
  cursor: pointer;
}

.package_block:hover {
  background-color: #ffffff;
  box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
}

.package_block:hover>.price {
  color: #ffffff;
  background: -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
}

.package_block:hover>.price:before {
  border-left: 132px solid #ffffff;
  border-right: 132px solid #ffffff;
}

.package_block:hover>.buy_button {
  color: #ffffff;
  background: -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
}

.buy_button:active {
  color: #ffffff;
  background: -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.4)inset;
  -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.4)inset;
  -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.4)inset;
}

/*==========================================================================================================*/
.video {
   width: 100%;
   height: 400px;
  position: relative;
  text-align: center;
}
video {
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
    filter: brightness(30%);
  -webkit-filter: brightness(30%);
}
.play_button {
  top: 50%;
  background: url(img/play_icon.svg) no-repeat 50% 50%;
  background-size: 22px 25px;
  display: inline-block;
  padding: 30px;
  border-radius: 50%;
  color: transparent;
  position: absolute;
  cursor: pointer;
  border: 1px solid #777777;
  outline: none;
}

.play_button:hover {
  background: url(img/play_icon.svg) no-repeat 50% 50%, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
}

.play_button:active {
  background: url(img/play_icon.svg) no-repeat 50% 50%, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/play_icon.svg) no-repeat 50% 50%, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:800px) {
  .video{ display:none;}
}


/*-------------------------------------------------------------------------------------------------------*/
.customers {
   width: 100%;
  padding: 120px 0;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.customers h3 {
  font-family: 'dosissemibold', Verdana, Geneva, sans-serif;
  color: #222222;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

#slides {
  display: inline-block;
  overflow: hidden;
  margin: 80px 10px 10px 10px;
  position: relative;
}
#slides .mask {
  overflow: hidden;
  height: 273px;
  padding: 10px;
}

@media (min-width:1199px) {
  .customers_block li {
  height: 273px;
  width: 360px;
  padding: 30px 43px 30px 30px;
}
#slides {
  max-width: 61%;
  padding: 10px 150px;
}
#slides .mask {
  height: 273px;
}
#slide1:checked~.mask .customers_block {
  transform: translateX(0);}
#slide2:checked~.mask .customers_block {
  transform: translateX(-34%);}
#slide3:checked~.mask .customers_block {
  transform: translateX(-68%);}
#slide4:checked~.mask .customers_block {
  transform: translateX(-103%);}
}
@media (min-width:799px) and (max-width:1200px) {
  .customers_block li {
  height: 273px;
  width: 360px;
  padding: 30px 43px 30px 30px;
}
#slides {
  max-width: 63%;
  padding: 10px 150px;
}
#slides .mask {
  height: 273px;
}
#slide1:checked~.mask .customers_block {
  transform: translateX(0);}
#slide2:checked~.mask .customers_block {
  transform: translateX(-51%);}
#slide3:checked~.mask .customers_block {
  transform: translateX(-105%);}
#slide4:checked~.mask .customers_block {
  transform: translateX(-158%);}
}

@media screen and (min-width:480px) and (max-width:800px) {
  .package {
  padding: 60px 0;
}
  .customers{
  border-top: 2px solid #ababab;
  padding: 60px 0;
}
  .customers_block li {
  height: 273px;
  width: 350px;
  padding: 30px 43px 30px 30px;
}
#slides {
  padding: 10px 100px;
  max-width: 50%;
}
#slides .mask {
  height: 273px;
}
#slide1:checked~.mask .customers_block {
  transform: translateX(0);}
#slide2:checked~.mask .customers_block {
  transform: translateX(-105%);}
#slide3:checked~.mask .customers_block {
  transform: translateX(-210%);}
#slide4:checked~.mask .customers_block {
  transform: translateX(-315%);}
}

@media screen and (max-width: 479px) {
  .package  {
  padding: 30px 0;
}
.customers{
  padding: 30px 0;
  border-top: 2px solid #ababab;
}
#slides{
  margin-top: 0;
}
#slides .mask {
  height: 273px;
}
.customers_block li {
  height: 253px;
  width: 320px;
  padding: 25px 33px 25px 25px;
}
#slides {
  padding: 10px 50px;
  max-width: 75%;
}
#slide1:checked~.mask .customers_block {
  transform: translateX(0);}
#slide2:checked~.mask .customers_block {
  transform: translateX(-110%);}
#slide3:checked~.mask .customers_block {
  transform: translateX(-220%);}
#slide4:checked~.mask .customers_block {
  transform: translateX(-330%);}
}

.customers_block li {
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
  clear: both;
  text-align: left;
  background-color: #f7fafc;
  margin-right: 30px;
}

.customers_block {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}


.customers_item:hover {
  background-color: #ffffff;
  box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
}

.customers_item img {
  padding-right: 20px;
  float: left;
}

.customers_item span {
  padding-top: 20px;
  font-family: 'dosisregular', Verdana, Geneva, sans-serif;
  font-weight: 400;
  color: #222222;
  font-size: 1.2em;
  line-height: 24px;
  text-align: left;
  display: block;
}

#slides input {
  display: none;
}


#controls label {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  background: url(img/arrow.png) center no-repeat;
  background-size: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

#controls label:hover {
  background: url(img/arrow2.png) center no-repeat, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: url(img/arrow2.png) center no-repeat, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  background-size: 15px, 40px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
  right: 0;
  top: 50%;
  display: block;
}

#slide1:checked~#controls label:nth-child(4),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2),
#slide4:checked~#controls label:nth-child(3) {
  left: 0;
  top: 50%;
  display: block;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(180deg);
}

/*-------------------------------------------------------------------------------------------------------*/
.download {
   width: 100%;
  padding: 120px 0;
  background: -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
  background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download h3 {
  flex: 1 100%;
  font-family: 'dosismedium', Verdana, Geneva, sans-serif;
  padding-bottom: 44px;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.download_item {
  border-radius: 3px;
  background-color: #ffffff;
  width: 360px;
  height: 110px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: 'robotolight';
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.download_item:hover {
  box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 19px 4px rgba(0, 0, 0, 0.3);
}

.download_item:active {
  background-color: #777777;
  color: #ffffff;
}

.download_item svg {
  width: 50px;
  height: 50px;
  fill: rgb(119, 119, 119);
  padding: 30px 30px;
  background-color: #f7fafc;
  text-align: center;
}

.download_item:hover>svg {
  fill: rgb(215, 4, 4);
}

.download_item h4 {
  font-family: 'dosisbold', Verdana, Geneva, sans-serif;
  color: #222222;
  font-size: 2em;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 30px 0 14px 0;
}

.download_item p {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------------------------------------------------------------*/
footer {
  width: 100%;
  background-color: #222222;
  margin: auto;
  padding: 60px 0;
  box-sizing: border-box;
  font-family: 'robotolight';
  color: #ffffff;
  font-size:1em;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.foot_bottom_social {
  margin: 0 30px 30px 30px;
  height: 20px;
  padding: 0;
  display: block;
}
footer p{
  margin-bottom: 0;
}
.bottom_social {
  display: inline-block;
  width: 25px;
  height: 20px;
  vertical-align: middle;
  margin-right: 29px;
}

.fb {
  background: url(img/social.png) 0 0;
}

a.fb:hover {
  background: url(img/social.png) 0 -20px;
}

.twt {
  background: url(img/social.png) -40px 0;
}

a.twt:hover {
  background: url(img/social.png) -40px -20px;
}

.google_plus {
  background: url(img/social.png) -132px 0;
}

a.google_plus:hover {
  background: url(img/social.png) -132px -20px;
}

.insta {
  background: url(img/social.png) -85px 0;
}

a.insta:hover {
  background: url(img/social.png) -85px -20px;
}


@media only screen and (max-width: 479px) {
  /*Мобильные устройства: Android, iPhone  и так далее.*/
  .template {
    color: white;
    background: -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
    background-size: 100%;
  }
  body {
    font-size: 12px;
  }
  main {
    max-width: 479px;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  /*Мобильные устройства: Android, iPhone  и так далее.*/
  body {
    font-size: 12px;
  }
  main {
    max-width: 599px;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /*Мобильные устройства: Android, iPhone  и так далее.*/
  body {
    font-size: 12px;
  }
  main {
    max-width: 768px;
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  /*Планшеты в режиме portrait.*/
  body {
    font-size: 12px;
  }
  main {
    max-width: 869px;
    width: 100%;
  }
}

@media only screen and (min-width: 870px) {
  /*Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.*/
    body {
    font-size: 12px;
  }
  main {
    max-width: 990px;
    width: 100%;
  }
  footer {
  padding: 40px;
}
}
@media only screen and (max-width: 900px) {
 .template {
    background: url(img/iPhones.png) no-repeat bottom right, -webkit-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: url(img/iPhones.png) no-repeat bottom right, -moz-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: url(img/iPhones.png) no-repeat bottom right, -o-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: url(img/iPhones.png) no-repeat bottom right, -ms-linear-gradient(0deg, #fd712c 0%, #f21780 100%);
    background: url(img/iPhones.png) no-repeat bottom right, linear-gradient(90deg, #fd712c 0%, #f21780 100%);
    background-size: 50%, 100%;
    padding: 30px 218px 120px 8%;
  }
  .download {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download_item{
   margin-bottom: 20px;
}
}
@media only screen and (min-width: 1000px) {
  .download {
  display: flex;
  flex-direction: row;
  align-items: center;
}
}
@media only screen and (min-width: 992px) {
  /*Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.*/
  body {
    font-size: 13px;
  }
  main {
    max-width: 1199px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /*Десктоп с большими разрешениями, телевизоры.*/
  body {
    font-size: 14px;
  }
  main {
    max-width: 1359px;
    width: 100%;
}
}

@media only screen and (min-width: 1360px) {
  /*Десктоп с большими разрешениями, телевизоры.*/
  body {
    font-size: 15px;
  }
  main {
    max-width: 1599px;
    width: 100%;
  }
}

@media only screen and (min-width: 1600px) {
  /*Десктоп с большими разрешениями, телевизоры.*/
  body {
    font-size: 16px;
  }
  main {
    max-width: 1919px;
    width: 100%;
  }
  /*============================================================================*/
}